PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://username:password@localhost:5432/project_management?schema=public"
JWT_SECRET="super-secret-jwt-key-change-in-production-pulseflow-2026"
JWT_EXPIRES_IN="7d"
FRONTEND_URL="http://localhost:5173"
